.item-count-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    max-width: 180px;
    background-color: #D9D9D9; 
    border: 1px solid #8C6161; 
}

.item-count-container button {
    background-color: #D9D9D9; 
    color: #8C6161; 
    border: 1px solid #8C6161; 
    cursor: pointer;
    font-size: 16px;
    width: 25px;
    height: 25px;
    padding: 0;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.2s ease;
}

.item-count-container button:hover {
    background-color: #D9BAC6; 
}

.item-count-container span {
    padding: 0 20px;
    font-weight: bold;
    color: #8C6161; 
}

.add-to-cart-button {
    background-color: #8C6161; 
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    font-weight: bolder;
    margin-left: 60px;
    transition: background-color 0.2s ease;
}

.add-to-cart-button:hover {
    background-color: #D9BAC6; 
}
